.overlay {
    position: fixed;
    color: yellow;
    text-align: center;
    font-size: xx-large;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2,147,483,646;
    background-color: rgba(175,229,219,0.7);
  }

  .block-information-container {
    position: fixed;
    background-color: #ff5551;
    color: #1E354C;
    z-index: 2,147,483,647;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word;
  }

  .lock-container {
    position: fixed;
    z-index: 2,147,483,647;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-image: url("assets/icons/lock_icon.png") ;
    background-repeat: no-repeat;
    background-position: center center;


  }