.overlay {
    position: fixed;
    color: yellow;
    text-align: center;
    font-size: xx-large;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.7);
  }