@font-face {
  font-family: "Basis Mono";
  src: url("chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/fonts/basis-grotesque-mono.otf");

}


@font-face {
  font-family: "GT Walsham Regular";
  src: url("chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/fonts/GT-Walsheim-Regular.otf");

}

@font-face {
  font-family: "GT Walsham Bold";
  src: url("chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/fonts/GT-Walsheim-Bold.otf");

}

@font-face {
  font-family: "GT Walsham Black";
  src: url("chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/fonts/GT-Walsheim-Black.otf");

}

#btd-lock-overlay {
  position: fixed;
  color: yellow;
  text-align: center;
  font-size: xx-large;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: 2,147,483,646; */
  z-index: 2000000000;
  background-color: rgba(175,229,219,0.7);
}



#btd-lock-container {
  position: fixed;
  /* z-index: 2,147,483,647; */
  z-index: 2000000001;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image:url('chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/icons/lock_icon.png');
  background-size: 35%;

}

#btd-lock-information-container {
  font-family: "GT Walsham Regular";
  position: fixed;
  background-color: #ff5551;
  color: #1E354C;
  /* z-index: 2,147,483,647; */
  z-index: 2000000001;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow-wrap: break-word;
  overflow-y:auto;
}

#btd-lock-information{
  font-family: "GT Walsham Regular";
  margin: 10%;

}

#btd-information-heading {
  font-family: "GT Walsham Black";
  font-size: xx-large;  
  font-weight: bold;

}

#btd-information-resource-list{
  /* padding-top: 30px; */
  height: 130px;
  font-size: medium;
  overflow-wrap: break-word;
  overflow: scroll;
  scroll-behavior: auto;
  border-bottom: 1px solid #1E354C;
  border-top: 1px solid #1E354C;

  padding-bottom: 30px;
}

#btd-information-resource-list p{

  top: 0px;
  bottom: 30px;
}



#btd-information-resource-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 0px;
}

#btd-information-resource-list::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #1E354C;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#btd-copy-data-button {
  background: #ff5551 url('chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/icons/copy_clipboard.png') no-repeat left;
  background-size: 20px;
  font-size: small;
  color: #1E354C;
  /* border-radius: 40px; */
  height: 60px;
  width: 240px;
  /* border: 1px solid #1E354C; */
  border: 0px;
  font-family: "Basis Mono", monospace;
}

#btd-copy-data-button:active {
  background: #1E354C;
}

#btd-information-footer {
  font-family: "GT Walsham Black";
  font-size: large;
  font-weight: bold;


}

.btd-information-table-heading{
  font-family: "GT Walsham Black";
  margin-top: 15%;
  font-size: large;
}

#btd-lock-table {
  display:flex;
  justify-content: left;
  align-items: center;
  /* height:100%; */
  background-color: #ff5551;


}

.btd-packet-table {
  background-color: #ff5551;
  font-family: "Basis Mono";

  top: 0px;
  padding-top: 20px;
  color: #1E354C;
  width:350px;
  border-collapse: collapse;

  border-top: 0;

}

.btd-packet-table  th{
  font-family: "Basis Mono";
  font-size: 9pt;
  text-align: left;

}
.btd-packet-table tr{
    /* border: 1px solid #1E354C; */
    border-bottom: 1px solid #1E354C;

}
.btd-packet-table tr td{
    border-left: 1px solid #1E354C;
    border-bottom: 1px solid #1E354C;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}

.btd-packet-table tr td:first-child {
  border-left: 0;
  border-top: 0;
  padding-left: 0;

}

.btd-packet-table tr td:last-child {
  border-right: 0;
}

