

@font-face {
    font-family: "Basis Mono";
    src: url("assets/fonts/basis-grotesque-mono.otf");

}


@font-face {
    font-family: "GT Walsham Regular";
    src: url("assets/fonts/GT-Walsheim-Regular.otf");

}

@font-face {
    font-family: "GT Walsham Bold";
    src: url("assets/fonts/GT-Walsheim-Bold.otf");

}

@font-face {
    font-family: "GT Walsham Bold";
    src: url("assets/fonts/GT-Walsheim-Black.otf");

}

body {
    font-family: "GT Walsham Regular", monospace;
    margin: 0px;
    /* min-width: 790px;
    min-height: 665px;
    max-width: 790px;
    max-height: 665px; */
    width: 800px;
    height: 50px;
}

.main-container {
    background: #E6F7F4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

}

.control-panel{
    border-top: 1px solid #1E354C;

}

.comp-name{
    position: relative;
    padding-left: 35px;
    padding-top: 6px;
}

.switch-area{
    padding-top: 12%;
    padding-bottom: 12%;
}


#logo { 
    width: 80%; 
    height: auto; 
}

/* page element placing */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}  

.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: stretch;
    align-items: center;
    top: 0px;
}

.icon-column{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 5%;
}
.button-column{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 5%;
}


/* page element styling */
.middle-margin{
    border-right: 1px solid #1E354C;

}
.switches{
    /* margin: 15px; */
    /* width: 300px; */ 
    height: 410px;
}

.margin-spacer{
    /* padding-left: 15px; */
    margin-left: 5%;
}

.switches p{
    font-size: 17px;
}

.analyzer p{
    font-size: 17px;
}

.switches h2{
    font-family: "GT Walsham Bold";
    margin-top: 0px;
    color: #1E354C;
}

.analyzer h2{
    font-family: "GT Walsham Bold";
    margin-top: 0px;
    color: #1E354C;

}



.analyzer{
    /* margin: 15px; */
    /* width: 300x; */
    height: 410px;
    width: 450px;

}

.pie{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
 
}

.message-container{
    font-family: "Basis Mono";
    display: flex;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    color:#1E354C;
    width: 85%;
    height: 325px;
    margin-top: 40px;
}

/* table style */
.packet-table{
    margin-top: 30px;
    color: #1E354C;
    width: 95%;
    border-top: 0;
    font-family: "Basis Mono";
    border-collapse: collapse;

}
/* table{

}   */

th{
    font-size: 8pt;
    text-align: left;
    padding-left: 0px;
}
tr{
    background-color: #E6F7F4;
    /* border: 1px solid #1E354C; */
    border-bottom: 1px solid #1E354C;

}
/* td{
    background-color: #E6F7F4;
    border-left: 1px solid #1E354C;
    border-right: 1px solid #1E354C;

} */


table tr td{
    border-left: 1px solid #1E354C;
    /* border-bottom: 1px solid #1E354C; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #E6F7F4;
    border-left: 1px solid #1E354C;
    border-right: 1px solid #1E354C;
    font-size: 11pt;
}

table tr td:first-child {
    border-left: 0;
    border-top: 0;
    padding-left: 0;

}

table tr td:last-child {
    border-right: 0;
}




button {
    background: #1E354C;
    color: #E6F7F4;
    border-radius: 40px;
    width: 35%;
    height: 30px;
    border: 0;
    font-family: "Basis Mono", monospace;

}

button:active {
    background: #E6F7F4;
    color: #1E354C;
}

#buttons-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

#analyzer-description{
    margin-right: 5%;
}


#clearbutton{
    margin-top: 5px;
    border-radius: 40px;
    height: 40px;
    width: 30%;
    align-self: inherit;
    margin-bottom: 5px;
}
#offbutton{
    border-radius: 40px;
    height: 40px;
    width: 30%;
    align-self: inherit;
    margin-bottom: 5px;
}

#switchview{
    margin-left: 0px;
}

#copy-data-button {
    background: #E6F7F4 url('/assets/icons/copy_clipboard.png') no-repeat left;
    background-size: 20px;
    font-size: small ;
    color: #1E354C ;
    /* border-radius: 40px; */
    height: 40px ;
    width: 220px ;
    /* border: 1px solid #1E354C; */
    border: 0px ;
    font-family: "Basis Mono", monospace ;
    border-radius: 0px;
    align-self: flex-end;
    justify-self: flex-end;

  }

#copy-data-button:active {
    background: #1E354C;
}

/* begin toggle switches */
.switch {
    display: flex;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #1E354C;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 20px;
width: 20px;
top: 5px;
left: 5px;
bottom: 5px;
background-color: #C3D8D3;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: red;
}
input:checked + .slider:before {
    background-color: #1E354C;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:before {
-webkit-transform: translateX(50px);
-ms-transform: translateX(50px);
transform: translateX(50px);
}

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* end toggle switches */

#bottom-links-container{
    background: #1E354C;
    height: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bottom-links-container a{
    color: #E6F7F4;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}